* {
    font-family: sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    width: 100%;
}

nav {
    border-bottom: 1px solid #eee;
}

.nav {
    list-style-type: none;
}

.nav li {
    display: inline;
    padding-right: 1%;
    padding-left: 1%;
}

.nav li a {
    text-decoration: none;
    font-size: 1.2em;
}

#logo {
    font-size: 2em;
    font-weight: 600;
}

.page-container .container {
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
}

.homepage-feature {
    background: url('../images/McLarenFalls.jpg');
}

.c1-feature {
    background: url('../images/reflections.jpg');
}

.c1-2-feature {
    background: url('../images/timehabits.jpg');
}

.c2-feature {
    background: url('../images/emotionalIntelligence.jpg');
}

.c3-feature {
    background: url('../images/meditationprocess.jpg');
}

.c4-feature {
    background: url('../images/mindfulness.jpg');
}

.c5-feature {
    background: url('../images/selfconfidence.jpg');
}

.c6-feature {
    background: url('../images/control.jpg');
}

.c7-feature {
    background: url('../images/motivation.jpg');
}

.c8-feature {
    background: url('../images/connecting.jpg');
}

.c9-feature {
    background: url('../images/leadership.jpg');
}

.t1-feature {
    background: url('../images/htmlcss.jpg');
}

.t2-feature {
    background: url('../images/htmlcss1.jpg');
}

.t3-feature {
    background: url('../images/designtoweb.jpg');
}

.t4-feature {
    background: url('../images/javascript.jpg');
}

.t5-feature {
    background: url('../images/problemsolving.jpg');
}

.t6-feature {
    background: url('../images/javascript-language.jpg');
}

.t6-feature {
    background: url('../images/scope.jpg');
}

.feature {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.feature-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    padding-left: 5%;
    font-size: 2em;
}

.feature-content h4 {
    color: #33C3F0;
    font-size: 0.6em;
}

.feature-content a {
    text-decoration: none;
    color: #ffffff;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    padding-right: 2%;
}

h2 {
    margin-top: 2%;
}

.blog-row {
    margin-top: 5%;
}

.blog-row a {
    text-decoration: none;
    color: #111111;
}

.blog-row a:hover {
    color: #7e7e7e;
}

footer {
    background-color: #f5f6f7;
    color: #7e7e7e;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 3em;
    margin-top: 5%;
    padding-top: 1%;
    bottom: 0;
}

@media only screen and (min-width: 600px) {
    .blog-image { 
        height: 100%;
    }

}


